body {
    background-color: #d4d4d4;
    perspective: 251px;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    transition: all 1s;
}
#static-block {
    background-color: #3e999f;
    width: 200px;
    height: 200px;
    align-items: center;
}
#target-block {
    background-color: #fb565e;
    height: 200px;
    width: 200px;
    opacity: 0.6;
}
form input {
    width: 50px;
}
h2 {
    color: indianred;
}
#intro {
    font-size: 14px;
    font-family: KAITI;
    padding-top: 10px;
}